#loadScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  height: 100%;
  position: fixed;
  background-color: #25282c;
  z-index: 1002;
  transition: height 0.3s ease-out;
  overflow: hidden;
}
#loadScreen .loadScreenItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loadScreen h1 {
  position: absolute;
  bottom: 80px;
  color: white;
}
