.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 30px;
  width: 350px;
}
.login__textBox {
  background-color: #151719;
  border: 1px solid #55595f;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin: 10px 5px;
  border: none;
  color: white;
  background-color: #1db954;
}
.login__google {
  background-color: #db4437;
}
.login div {
  margin-top: 7px;
}
.box-footer div,
a {
  color: #9ba9b4;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9ba9b4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9ba9b4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9ba9b4;
}
