.floatingCard {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.floatingCardTitle {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: var(--spotifyGreen);
  transition: width 0.3s ease;
}
.floatingCardTitle h2 {
  color: var(--gray800);
}
.recharts-wrapper {
  margin: 0 auto;
  width: 100% !important;
}
.recharts-surface {
  width: 100% !important;
}
.floatingCardTitle h2 {
  font-size: 20px;
  width: 100%;
}
.floatingCardGraph {
  width: 100%;
}
.floatingCardDataTable {
  text-align: center !important;
  height: 150px;
  width: 100%;
  overflow-y: scroll;
}
.floatingCardDataTable table th {
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--spotifyGreen);
  text-align: center !important;
  width: 925px;
  border: 1px solid black !important;
}
.floatingCardDataTable table td {
  border-radius: 3px;
  background-color: #9af5ba;
  text-align: left !important;
  width: 925px;
  border: 1px solid black !important;
}

@media only screen and (min-width: 768px) {
  .floatingCardTitle h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 960px) {
  .floatingCardTitle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    width: 50%;
  }
}
