extends layout.pug


block content 
  include common/head.pug

  h1 Storify Help 
    div
        p This website is for Spotify users to be able to look at a general list of reccomendations, create playlists, and most importantly for users to be able to see their listening history over a long period of time.
        h3 By visiting the main page you will be able to see reccomendations based on your current listening history, as well as spotifys algorithim. You can also click on any song name links to be able to more reccomendations based on that specific song. By visiting the listening history page, you will be able to see your listening history from when you first logged into the site, and see that data in a easy to view way.
        h1 Feel free to look around the website for any good reccomendations you can find! 

  include common/footer.pug
