extends layout.pug


block content
  include common/head.pug

  div(class="tbl-header")
    table
      thread
        tr
          th Album
          th Song Name 
          th Time Played 
  div(class="tbl-content")
    tbody 
      table
        each s in songList
          tr

            td: img(src=s.album_url width="120px" height="120px")
            td: a(href='/historyRecommendations?track='+s.song_id) #{s.song_name}
            td #{s.played_at}
            
  include common/footer.pug
