doctype=html
html
  head
    title My Spotify API app ✨
    script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
    script(src="/javascripts/script.js")
    script(src="https://cdn.jsdelivr.net/npm/less")
    link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css') 
    link(rel="stylesheet/less" type="text/css" href="styles.less")
    link(rel="stylesheet", href="/stylesheets/index.css")

  body
    block content



