extends layout.pug

block content
  include common/head.pug
  div(class="center")
    h1 Medium Term Top Artists
  div(class="center") 
    a.btn(href='/top-artists-long' class="glow-on-hover") Long Term
    a.btn(href='/top-artists-medium' class="glow-on-hover") Medium Term
    a.btn(href='/top-artists-short' class="glow-on-hover") Short Term

  div(class="tbl-header")
    table
      thread
        tr
          th 
          th 
          th Artist 
          th Link
  div(class="tbl-content")
      tbody
        table
          each t in artists
            tr 
              - var artist_name = t.name
              - var track_preview = t.preview_url

              td: img(src=t.images[0].url width="100px" height="100px")
              td #{artist_name}
              td: a(href=t.external_urls.spotify) Spotify
  include common/footer.pug

