extends layout.pug

block content
  include common/head.pug
  div(class="center")
    h1 Long Term Top Tracks
  div(class="center") 
    a.btn(href='/top-tracks-long' class="glow-on-hover") Long Term
    a.btn(href='/top-tracks-medium' class="glow-on-hover") Medium Term
    a.btn(href='/top-tracks-short' class="glow-on-hover") Short Term

  div(class="tbl-header")
    table
      thread
        tr
          th Album
          th Song   
          th Artist 
          th Link
  div(class="tbl-content")
      tbody
        table
          each t in tracks
            tr 
              - var artist_name = t.artists[0].name
              - var track_name = t.name
              - var track_preview = t.preview_url

              td: img(src=t.album.images[0].url width="100px" height="100px")
              td: a(href='/recommendations?artist=' + t.artists[0].id +'&track='+t.id) #{track_name}
              td #{artist_name}
              td: a(href=t.external_urls.spotify) Spotify
  include common/footer.pug