.topCard {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.topCardTitle {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 40px;
  background-color: var(--spotifyGreen);
  transition: width 0.3s ease;
}
.topCardTitle h2 {
  width: 100%;
  font-size: 20px;
  color: var(--gray800);
}
.topCardList {
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.topListItem {
  margin: 5px auto;
  width: 50%;
  padding: 0;
  list-style: none;
}
.topListItem li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topListItem h3 {
  font-weight: 700;
  margin: 0 7px;
  text-align: left;
  font-size: 13px;
  width: 100%;
  color: var(--gray800);
}
.topListItem img {
  width: 50px;
}
.albumImage {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}
.albumImage .imgButton {
  opacity: 0;
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.albumImage:hover .imgButton {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .topCardTitle h2 {
    font-size: 24px;
  }
  .topListItem h3 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  .topListItem {
    max-width: 25%;
  }
  .topListItem li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topListItem img {
    width: 90px;
    height: 90px;
  }
  .topListItem h3 {
    text-align: center;
  }
  .albumImage {
    width: 90px;
    height: 90px;
  }
  .topCardTitle {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    width: 50%;
  }
}

@media only screen and (min-width: 1382px) {
  .topListItem {
    max-width: 12.5%;
  }
}
