.recommendedCard {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.recommendedCardTitle {
  width: 100%;
  background-color: var(--spotifyGreen);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 40px;
}
.recommendedCardTitle h2 {
  font-size: 20px;
  width: 100%;
  color: var(--gray800);
}
.recommendedCardList {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 10px;
}
.recommendedListItem {
  width: calc(100% - 20px);
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recommendedListItem .recommendedImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.recommendedListItem .albumImage {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}
.recommendedListItem .albumImage .imgButton {
  opacity: 0;
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.recommendedListItem .albumImage:hover .imgButton {
  opacity: 0.5;
}
.recommendedListItem .itemIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.recommendedListItem h3 {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding: 0 3px;
  color: var(--gray800);
}

@media only screen and (min-width: 768px) {
  .recommendedCard {
    width: calc(50% - 10px);
  }
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1382px) {
  .recommendedCardTitle h2 {
    font-size: 24px;
  }
  .recommendedListItem h3 {
    font-size: 18px;
  }
}
