.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  width: 100%;
}
.hero img {
  width: 80%;
  margin: 70px 0;
  filter: brightness(0.7);
  border-radius: 10px;
}
.homepageSection {
  width: 100%;
  border-bottom: 1px solid #55595f;
}
/* homepage analytics */
#homepageAnalytics {
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#homepageAnalytics .projectsHeader {
  margin-bottom: 50px;
}
#homepageAnalytics .allProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#homepageAnalytics .analyticItem {
  display: flex;
  background-color: #33363a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#homepageAnalytics .sectionInfo {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
#homepageAnalytics .sectionInfo h1 {
  font-size: 35px;
  font-weight: 500;
  color: #ebf1f5;
  margin-bottom: 30px;
}
#homepageAnalytics .sectionInfo p {
  color: #9ba9b4;
  font-size: 20px;
}
#homepageAnalytics .sectionImg {
  flex-basis: 50%;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
#homepageAnalytics .sectionImg::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#homepageAnalytics .sectionImg img {
  height: 100%;
  width: 100%;
  transition: 0.2s ease transform;
  text-align: center;
}
#homepageAnalytics .analyticItem:hover .sectionImg img {
  transform: scale(1.1);
}
/* end homepage analytics */
.homepageSection .startNow {
  margin-bottom: 40px;
}

/*Media Quality for Tablet*/
@media only screen and (min-width: 960px) {
  .hero img {
    border-radius: 0;
  }
  #homepageAnalytics .analyticItem {
    flex-direction: row;
    background-color: #25282c;
  }
  #homepageAnalytics .analyticItem:nth-child(even) {
    flex-direction: row-reverse;
  }
  #homepageAnalytics .analyticItem {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #homepageAnalytics .allProjects .sectionInfo {
    height: 100%;
    text-align: left;
  }
  #homepageAnalytics .allProjects .sectionImg {
    height: 100%;
  }
}
