.home {
  margin-top: 40px;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  width: 100%;
}
.hero img {
  width: 100%;
  margin: 70px 0;
  filter: brightness(0.7);
}
.homepage-section {
  width: 100%;
  border-bottom: 1px solid #33363a;
}
