.home-title {
  width: calc(100%-200px);
  margin: 40px 100px;
}
.home-title h1 {
  color: #ebf1f5;
  margin-bottom: 5px;
  font-size: 15px;
}
.home-title p {
  color: #9ba9b4;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .home-title h1 {
    font-size: 25px;
  }
  .home-title p {
    font-size: 16px;
  }
}
