.homeTitle {
  width: calc(100%-200px);
  margin: 40px 100px;
}
.homeTitle h1 {
  color: var(--gray100);
  margin-bottom: 5px;
  font-size: 15px;
}
.homeTitle p {
  color: var(--gray400);
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .homeTitle h1 {
    font-size: 25px;
  }
  .homeTitle p {
    font-size: 16px;
  }
}
