.App {
  background-color: #151719;
}
#home-navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
#home-navbar .links {
  display: flex;
  flex-direction: row;
}
#home-navbar a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  color: #1db954;
}
#home-navbar a:hover {
  filter: brightness(0.9);
}
#home-navbar .register-button {
  background-color: #1db954;
  border-radius: 3px;
  margin-left: 30px;
  width: 125px;
  height: 30px;
  padding: 50px, 25px;
  cursor: pointer;
}
#home-navbar .register-button a {
  color: white;
}
#home-navbar img {
  width: 80px;
  height: auto;
  text-align: left;
}
