footer.site-footer
  .container
    .row
      .col-sm-12.col-md-6
        h6 About
        p.text-justify
          |This is a ExpressJS/Pug website with a PHP database to store the Spotify listening history of the user for them to reaccess their listening stats at any given time. 
      .col-xs-6.col-md-3
        h6 Created By
        ul.footer-links
          li
            a(href='https://app.joinhandshake.com/stu/users/25359764') Jake Darida
          li
            a(href='') Jordan Mckee
          li
            a(href='') Andy Bjorn
      .col-xs-6.col-md-3
        h6 Quick Links
        ul.footer-links
          li
            a(href='/help') Help
          li
            a(href='/history') Listening History
          li
            a(href='/recent') Recently Listened
