header.main-header(style="overflow: hidden")
  .logo
    a(href='/dashboard') Storify 
  a.toggle-button(href='#')
    i.ri-layout-grid-fill
  ul.nav-links
    li
      a(href='/history') Listening History
    li
      a(href='/recent') Recently Listened
    li
      a(href='/top-tracks-medium') Top Tracks
    li
      a(href='/top-artists-medium') Top Artists
    li
      a(href='/') Logout
