.discover {
  display: flex;
  flex-direction: column;
  padding: 1px 20px;
}
.expandButton {
  text-decoration: none;
  color: var(--offWhite);
  padding: 8px 12px;
  background-color: var(--spotifyGreen);
  border-radius: 3px;
  cursor: pointer;
}
.expandButton:hover {
  filter: brightness(0.9);
}

@media only screen and (min-width: 768px) {
  .discover {
    flex-direction: row;
    justify-content: space-between;
  }
}
