.titleCard {
  width: 30%;
  margin: 15px;
  height: 120px;
  background-image: linear-gradient(to bottom right, #25282c, #55595f);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.titleCardHeading h1 {
  color: white;
  font-size: auto;
}
.titleCardText h5 {
  color: white;
  font-size: auto;
}
