#sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: 60px;
}
#sidebar div {
  margin: 20px;
  text-align: left;
}
#sidebar .sidebar-title {
  border-bottom: 2px solid #e2e2e2;
}
#sidebar .link {
  display: block;
  margin-bottom: 15px;
}
