#sidebar {
  position: fixed;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: 75px;
  transition: width 0.3s ease;
}
#sidebar div {
  text-align: left;
}
#sidebar .sidebar-title {
  border-bottom: 2px solid #e2e2e2;
  margin: 20px;
}
#sidebar .sidebar-title h3 {
  font-size: 25px;
}
#sidebar .sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
#sidebar .sidebar-item img {
  height: 20px;
  margin-right: 10px;
}
#sidebar .sidebar-item a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
#sidebar .link {
  display: block;
}

@media only screen and (min-width: 960px) {
  #sidebar {
    width: 300px !important;
  }
}
