.footer {
  width: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid lightgray; */
}
.footer ul {
  text-decoration: none;
  padding: 0;
  margin: 10px 0;
}
.footer-left,
.footer-right {
  width: 40%;
}
.footer h4,
p {
  color: gray;
}
