.playlistAdd {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.addIcon {
  width: 24px;
  height: 24px;
}
.addIcon:hover {
  transform: scale(1.2);
}
.playlistDropdown {
  position: absolute;
  display: inline-block;
  top: -3px;
  right: -20px;
  background-color: var(--gray800);
  width: 175px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.playlistDropdown img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.playlistDropdown h3 {
  font-size: 15px;
  padding: 5px 0;
}
.playlistDropdown h4 {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--offWhite);
  /* #ebf1f5; */
}
.playlistDropdown h4:hover {
  background-color: var(--gray600);
  cursor: pointer;
}
.playlistSelection {
  background-color: white;
  max-height: 150px;
  overflow-y: scroll;
  text-align: left;
}
.playlistSelection p {
  padding: 0 4px;
  color: var(--gray800);
}
.playlistSelection p:hover {
  background-color: var(--gray200);
}
