.playlistAdd {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.addIcon {
  width: 24px;
  height: 24px;
}
.addIcon:hover {
  transform: scale(1.2);
}
.playlistSelection {
  position: absolute;
  display: inline-block;
  top: -3px;
  right: -20px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.playlistSelection {
  background-color: white;
  max-height: 150px;
  overflow-y: scroll;
  text-align: left;
}
.playlistSelection p {
  padding: 0 5px;
  background-color: var(--gray800);
  padding: 0 4px;
  color: var(--offWhite);
}
.playlistSelection p:hover {
  background-color: var(--gray600);
}
